.splashscreen {
    background-color: black;
    color: #FCDEC0;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 200;
    line-height: 90vh;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    color: #32303A;
    background-color: #FCDEC0;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #B4846C;
}

h1 {
    font-size: 24px;
    color: #7D5A50;
}

p {
    font-size: 20px;
}

