/*
--text: #E5E2FD;
--background: #04021A;
--primary: #8778F6;
--secondary: #9A0A98;
--accent: #F238AD;
*/

@font-face {
    font-family: JetBrains_Mono_Medium;
    src: url(fonts/JetBrainsMono-Medium.ttf);
}

@font-face {
    font-family: JetBrains_Mono_Light;
    src: url(fonts/JetBrainsMono-Light.ttf);
}

@font-face {
    font-family: JetBrains_Mono_SemiBold;
    src: url(fonts/JetBrainsMono-SemiBold.ttf);
}

header {
    overflow: hidden;
    background-color: #04021A;
    margin-bottom: 132px;
    height: 74px;
}

.logo-container {
    float: left;
}

#header-logo {
    height: 60px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

header a {
    float: left;
    color: #efe2fd;
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
}

header a.logo {
    font-size: 35px;
    font-weight: bold;
    font-family: JetBrains_Mono_Medium, "Arial";
    padding: 0px;
    margin: 11px
}

header a.logo:hover {
    background-color: #04021A;
}

header a:hover {
    background-color: #8778F6;
    color: #efe2fd;
}

header a.active-tab {
    background: rgba(135, 120, 246, 0.6);
    color: #efe2fd;
}

.header-right {
    float: right;
    font-size: 25px;
    font-family: JetBrains_Mono_Light, "Arial";
}

.header-button {
    border: 3px solid rgba(135, 120, 246, 0.6);
    border-radius: 13px;
    margin-left: 46px;
    padding: 17px;
}

@media screen and (max-width: 500px) {
    header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    .filter-container {
        float: none;
        display: block;
    }
}

body {
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 54px;
    margin-bottom: 60px;
    padding: 0;
    background-color: #04021A;
    color: #efe2fd;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    min-height: 100vh;
}

.non-homepage-body {
    display: flex;
    flex-direction: column;
}

.food-card {
    padding: 35px;
    border-radius: 46px;
    width: 50%;
    margin: auto;
    height: auto;
    text-align: center;

    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#randomFoodImg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    border-radius: 46px;
    display: none;
}

#randomFoodName {
    margin-top: 35px;
    font-weight: bold;
    font-size: 50px;
    display: none;
}

#randomFoodDescription {
    display: none;
}

#video-container {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 25px;
    width: fit-content;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    height: fit-content;
    margin-top: 25px;
    display: none;
}

#yt-img {
    width: 60px;
    filter: grayscale(100%);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
}

#randomFoodVideo {
    cursor: pointer;
    border-radius: 25px;
    background-color: rgba(154, 10, 152, 0.6);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 13px;
    padding-right: 13px;
    text-align: center;
    width: fit-content;
    color: #efe2fd;
    border: 0px transparent;
    font-size: 20px;
    font-weight: normal;
    float: right;
    margin-bottom: 5px;
    margin-top: 5px;
}

.filter-div {
    background-color:rgba(135, 120, 246, 0.6);
    padding: 20px;
    border-radius: 15px;
    color: #efe2fd;
}

#cuisines:hover {
    cursor: pointer;
}

#types:hover {
    cursor: pointer;
}

.filter-container {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: auto;
    z-index: -999;
    padding: 35px;
    height: 60px;
    border-radius: 40px;

    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.generate-container {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 40px;
    width: fit-content;
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
    margin-bottom: 150px;
}

#generate-button {
    border-radius: 15px;
    background-color: #F238AD;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    width: 100%;
    color: #efe2fd;
    border: 0px transparent;
    font-size: 25px;
    font-weight: bold;
}

#generate-button:hover {
    cursor: pointer;
}

#custom-loader {
    width:120px;
    height:22px;
    border-radius: 20px;
    color:#E5E2FD;
    border:2px solid;
    position: relative;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
#custom-loader::before {
    content:"";
    position: absolute;
    margin:2px;
    inset:0 100% 0 0;
    border-radius: inherit;
    background:#E5E2FD;
    animation:p6 1.5s infinite;
}
@keyframes p6 {
    100% {inset:0}
}

#filter-types {
    float: right;
    margin-left: 35px;
}

#filter-cuisines {
    float: left;
}

.food-card h2 {
    margin-bottom: 10px;
}

.click-to-other-pages {
    position: relative;
    display: block;
}

.some-gradient {
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 40px;
    text-align: center;
    color: #04021A;
}

#click-to-about {
    margin-bottom: 50px;
}

#click-to-feedback {
    margin-bottom: 150px;
}

.gradient-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.gradient-button {
    border-radius: 15px;
    background: #eda6ec;
    box-shadow:  20px 20px 60px #c98dc9,
                 -20px -20px 60px #ffbfff;
    padding: 17px;
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    font-family: JetBrains_Mono_Light, "Arial";
}

.gradient-button:hover {
    background-color: rgba(135, 120, 246, 0.6) ;
}

.gradient-button:focus {
    color: #04021A;
}

.gradient-text {
    color: #04021A;
    margin-bottom: 35px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.footer {
    font-family: JetBrains_Mono_Light, "Arial";
    width: 100%;
    bottom: 0%;
    left: 0%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: auto;
    position: relative;
}

.about-pg-titles {
    font-family: JetBrains_Mono_SemiBold,"Arial";
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
    line-height: 2;
}

.about-pg-paragraphs {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    float: left;
    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 1.58;
}

.feedback-pg {
    font-family: JetBrains_Mono_Light,"Arial";
    margin-top: 0px;
    margin-bottom: 20px;
    float: left;
}